# OS
.DS_Store
Thumbs.db

# Hexo
db.json
public/
.deploy*/
_multiconfig.yml

# Dependencies
node_modules/

# Editor
.idea/
.vscode/

# Temporary
*.log
*.tmp
*.temp

# Environment
.env
.env.*
!.env.example
